block footer

// Javascripts
// ===============================================================
// Placed at the end of the document so the page load faster
script(src='javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
script(src='javascripts/vendor/jquery/js/jquery-ui-1.10.2.custom.min.js')
script(src='javascripts/vendor/bootstrap.min.js')
script(src='javascripts/animations.js')
script(src='javascripts/vendor/timeline/js/storyjs-embed.js')
script(src='javascripts/mainMenu.js')