include includes/head

    .navbar.navbar-inverse.navbar-fixed-top#navigation
        .navbar-inner

            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            span.brand.hidden-desktop
                img(src='images/logo30x30.png') 
                | Ducking Hipster
            .nav-collapse.collapse
                ul.nav
                    li.visible-desktop.first
                        img(src='images/logo30x30.png')
                        | Ducking-Hipster
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#') Datei
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li.nav-header Nav header
                            li
                                a(href='#') Seperated Link
                            li
                                a(href='#') One more separated link
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#') Bearbeiten
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li.nav-header Nav header
                            li
                                a(href='#') Seperated Link
                            li
                                a(href='#') One more separated link
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#') Ansicht
                        ul.dropdown-menu
                            li
                                a#timeline(href='#') Zeige Timeline

                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#') Hilfe
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li.nav-header Nav header
                            li
                                a(href='#') Seperated Link
                            li
                                a(href='#') One more separated link
                a.btn.btn-danger( href='/logout' )
                    i.icon-off.icon-white

    .container-fluid
        .row-fluid
            .span3
                .well
                    #filter
                        h3 Rooms
                        .cal1
                        .cal2
            .span9
                #timeline-embed

        hr

        include includes/footer

    include includes/scripts

