include includes/head

    .navbar.navbar-inverse.navbar-fixed-top#navigation
        .navbar-inner

            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            span.brand.hidden-desktop
                img(src='images/logo30x30.png') 
                | Ducking Hipster
            .nav-collapse.collapse
                ul.nav
                    li.visible-desktop.first
                        img(src='images/logo30x30.png')
                        | Ducking-Hipster
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#') File
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li.nav-header Nav header
                            li
                                a(href='#') Seperated Link
                            li
                                a(href='#') One more separated link
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#') Edit
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li.nav-header Nav header
                            li
                                a(href='#') Seperated Link
                            li
                                a(href='#') One more separated link
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#') Help
                        ul.dropdown-menu
                            li
                                a(href='#') Action
                            li
                                a(href='#') Another action
                            li
                                a(href='#') Something else here
                            li.divider
                            li.nav-header Nav header
                            li
                                a(href='#') Seperated Link
                            li
                                a(href='#') One more separated link
                a.btn.btn-danger( href='/logout' )
                    i.icon-off.icon-white

    .container-fluid
        .row-fluid
            .span3
                .well
                    ul.nav.nav-list
                        li.nav-header Navigation
                        li.active
                            a( href="#") Home
                        li
                            a( href="#" ) Library
            .span9
                .well
                    | Main Content
        hr

        include includes/footer

    include includes/scripts

