include includes/head
        
    .container-fluid
        .row-fluid
            .span4
                 img( src='images/duck.svg', style="margin:10px;width:200px;height:200px;" )
            .span7
                .well
                    h2 Login
                    hr    
                    form.form-horizontal( action='/login', method='post' )
                        .control-group
                            //label.control-label(for="inputEmail") Email
                            .controls
                                .input-prepend
                                    span.add-on @
                                    input#inputEmail(type="text", placeholder="Username", name='username')
                                    
                        .control-group
                            //label.control-label(for="inputPassword") Password
                            .controls
                                .input-prepend
                                    span.add-on ***
                                    input#inputPassword(type="password", placeholder="Password", name='password')
                                
                        .control-group
                            .controls
                                button.btn.btn-inverse(type="submit", value='Submit') Sign in
                                
                    if(message) != 'Missing credentials'
                        .alert.alert-error
                            a.close( data-dismiss="alert", href="#" ) &times;
                            | #{message}
        hr
        
        include includes/footer
    include includes/scripts