include includes/head
        
    .container-fluid
        img.hidden-phone( src='images/clickDuck.png' )
        .row-fluid
            .span7
                 img#duck.hidden-phone( src='images/keyDuck.png', style="margin:10px;width:300px;" )
            .span5
                .well#LoginArea

                    form.form-horizontal( action='/login', method='post' )
                        .control-group
                            .controls
                                .input-prepend
                                    span.add-on
                                        i.icon-user
                                    input#inputEmail(type="text", placeholder="Username", name='username')
                                    
                        .control-group
                            .controls
                                .input-prepend
                                    span.add-on ***
                                    input#inputPassword(type="password", placeholder="Password", name='password')
                        .control-group
                            .controls
                                button.btn.btn-inverse.visible-phone#loginSubmit(type="submit", value='Submit') Anmelden
                                
                            if(message) != 'Missing credentials'
                                .alert.alert-error
                                    a.close( data-dismiss="alert", href="#" ) &times;
                                    | #{message}
        hr
        
        include includes/footer
    include includes/scripts